.form_input {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  margin-bottom: 4rem;
}

label {
  margin-bottom: 1rem;
  font-size: 1.5em;
}

.error {
  color: #cd113b;
  font-size: 1.3rem;
}

.input {
  border: none;
  outline: none;
  background-color: #282c34;
  color: white;
  font-weight: 400;
  margin: 2rem 4rem;
  width: 20rem;
  font-size: 2rem;
  border-bottom: 2px solid white;
  text-align: center;
}

.button {
  border: none;
  background-color: #e5707e;
  font-weight: 500;

  color: white;
  padding: 0.3rem 2.3rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.radio_container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.radio_label {
  margin-right: 2rem;
  margin-left: 0.2rem;
}
.radio {
  margin-left: 2rem;
  margin-right: 0.2rem;
  zoom: 2;
}
